[buildout]
develop = .
parts = test
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
extensions =
  buildout.dumppickedversions
  mr.developer
versions = versions
auto-checkout =
  zeam.form.base
  grokcore.chameleon 

sources = sources
sources-dir = devel

[versions]
Chameleon = 2.6.2
z3c.pt = 2.1.5
grokcore.chameleon = 0.5.2
megrok.pagetemplate = 0.7

[sources]
zeam.form.base = git git://github.com/thefunny42/Zeam-Form
grokcore.chameleon = svn svn+ssh://svn.zope.org/repos/main/grokcore.chameleon/trunk


[test]
recipe = zc.recipe.testrunner
eggs = zeam.form.ztk [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c', '--udiff', '--package=zeam.form.ztk']

